.contHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.scrolled {
  box-shadow: 0 2px 4px rgba(112, 108, 108, 0.1);
  transition: background-color 0.3s ease;
}

.container {
  display: flex;
  flex-direction: row;
  background-color: #fcb69f;
  justify-content: space-between;
  padding: 20px 30px 14px 30px;
  color: #260b01;
  width: 100%;
  z-index: 2;
  position: fixed;
  transition: background-color 0.3s ease;
}

/* contenedor de iconos */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav li {
  list-style: none;
  padding: 10px 10px;
}

/* iconos ---- */
.nav li .li__icono {
  text-decoration: none;
  color: #fff;
}

.nav li .li__icono:hover {
  color: #260b01;
}

.nav li .li__icono .float {
  margin-right: 7px;
}

.idioma .idioma_icn {
  border: #fcb69f;
  background-color: #fcb69f;
}

.efecto {
  margin-top: 2px;
  padding-top: 80px;
}
.menu-icon {
  visibility: hidden;
}

/* --------------------------------------- */

@media screen and (max-width: 1040px) {
  .container .nav li {
    padding: auto;
    width: 50px;
  }

  .container .nav li .li__icono {
    visibility: hidden;
  }

  .container .nav li .float {
    visibility: visible;
  }
}

@media screen and (max-width: 768px) {
  .efecto {
    visibility: hidden;
  }
  .container {
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .contHeader .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contHeader .nav {
    display: none;
  }

  .menu-icon {
    display: block;
    visibility: visible;
  }

  .nav.open {
    display: block;
    position: absolute;
    top: 60px; /* ajusta según la posición de tu header */
    right: 0;
    background-color: white; /* o el color deseado */
    width: 100%; /* ajusta según sea necesario */
  }
  .container .nav li .li__icono {
    visibility: visible;
    color: #260b01;
    display: flex;
    flex-direction: row;
  }
  .container .logo {
    width: 180px;
  }
}
