.cajapadre {
    display: flex;
    flex-direction: row;
}

.contHeader {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: #fcb69f;
    justify-content: space-between;
    padding: 20px 30px 0px 30px;
    color: #260B01;
    margin-bottom: -15px;
    /* background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%); */
}

.container .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.container .nav li {
    list-style: none;
    padding: 10px 10px
}

.container .nav li .li {
    text-decoration: none;
    /* font-size: 20px; */
    color: #fff;
}

.container .nav li .li:hover {
    color: #260B01;
}


.container .nav li .li .float {
    margin-right: 7px;    
}

.container .idioma .icn{
    border: #fcb69f;
    background-color: #fcb69f;
    margin-right: 3px;

}
.efecto {
    margin-top: 1%;    
}

/* --------------------------------------- */

@media screen and (max-width:1000px){
    
    .container .nav li {
        padding:auto;
        width: 50px;
    }
    .container .nav li .li {
        visibility: hidden;
    }
    .container .nav li .float{
        visibility: visible;       
    }   
}

@media screen and (max-width:630px){

    .efecto{
        visibility: hidden;
    }
}

@media screen and (max-width:500px){
    .contHeader .container{
        display: flex;
        flex-direction: column;
        justify-content: center;  
        align-items: center;      
    }
    .container .logo img{
        width:40% ;
        padding-left: 30%;
    }
    .container .idioma .icn{
        margin-top: -20%;
    
    }
}

