.cajapadreS {
    display: flex;
    flex-direction: column;
    margin-top: -10%;
    width: 100%;
}

.cajapadre-skill {
    width: 100%;
    background-color: #E6D5BB;
    margin: 0;
    color: #260b01;
}

.cajapadre-skill .pos {
    text-align: center;
    margin-top: -20px;
}

.container-skills {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.container-skills .caja {
    margin: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-skills .caja .img {
    font-size: 60px;
    padding-bottom: 15px;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;

}

.container-skills .caja .img:hover {
    transform: scale3d(1.5, 1.5, 0.3);
    -webkit-transform: scale3d(1.5, 1.5, 0.3);
    -moz-transform: scale3d(1.5, 1.5, 0.3);
}

/* ----------------------------------- */

@media screen and (max-width:630px) {

    .cajapadreS .efectoS {
        visibility: hidden;
    }

    .cajapadreS .cajapadre-skill {
        padding-top: 10%;
    }


}

@media screen and (max-width:500px) {


    .container-skills .caja .img {
        width: 40px;
    }

    .container-skills .caja {
        height: 50px;
        width: 50px;
        margin: 20px;
    }

    .container-skills .caja .texto {
        visibility: hidden;
    }
    .cajapadre-skill .pos {        
        padding: 20px;
    }

}