.container_skills {
    display: flex;
    flex-direction: column;
    margin-top: -10%;
    width: 100%;
}

.cajapadre-skill {
    width: 100%;
    background-color: #E6D5BB;
    margin: -5px 0 0 0 ;
    color: #260b01;
}

.cajapadre-skill .skill_title {
    text-align: center;
    margin-top: -20px;
}

.container_skills_iconos {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.container_skills_iconos .caja {
    margin: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_skills_iconos .caja .img {
    font-size: 60px;
    padding-bottom: 15px;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;

}

.container_skills_iconos .caja .img:hover {
    transform: scale3d(1.5, 1.5, 0.3);
    -webkit-transform: scale3d(1.5, 1.5, 0.3);
    -moz-transform: scale3d(1.5, 1.5, 0.3);
}

/* ----------------------------------- */

@media screen and (max-width:630px) {

    .container_skills .skills_efecto_onda {
        visibility: hidden;
    }

    .container_skills .cajapadre-skill {
        padding-top: 9%;
    }


}


@media screen and (max-width:500px) {

    .container_skills_iconos .caja {
        height: 60px;
        width: 60px;
        margin: 20px;
        overflow: hidden;
        position: relative;
    }

    .container_skills_iconos .caja .img {
        width: 40px;        
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);        
        transition: transform 0.5s;
    }

    .container_skills_iconos .caja .texto {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: #fff;
        border-radius: 2px;
        background-color: rgba(19, 18, 18, 0.897);
        font-size: 10px;
        text-align: center;
        transform: translateY(100%); /*traslada al icono abajo */
        transition: transform 0.5s;
    }

    .container_skills_iconos .caja:hover .img {
        transform: translate(-50%, -50%) scale(1.5);        
    }

    .container_skills_iconos .caja:hover .texto {
        transform: translateY(-50%);  /*sube el titulo*/      
    }
}