.cont-footer {
    background-color: #260B01;
    padding: 10px;
    color: #fff;
}

.cont-footer .link-footer {
    width: 30%;
    display: grid;
    margin: 20px auto;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    color: #fff;
}

.cont-footer .footer__copy {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
}

.cont-footer .footer__copy span {
    color: #fff;
    font-size: 20px;
}

/* ----------------------------------- */
@media screen and (max-width:500px){
    .cont-footer .link-footer {
        width: 50%;
        display: grid;
        margin: 20px auto;
        text-align: center;
        grid-template-columns: repeat(3, 1fr);
    }
}