.cont-footer {
    background-color: #260B01;
    padding: 10px;
}

.cont-footer .link-footer {
    width: 30%;
    display: grid;
    margin: 20px auto;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
}

.cont-footer .link-footer a {    
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.cont-footer .link-footer a:hover {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}


.cont-footer .footer__copy {
    display: flex;
    justify-content: center;
    color: #fff;
}

.cont-footer .footer__copy span {
    color: #fff;
    font-size: 20px;
}

/* ----------------------------------- */
@media screen and (max-width:330px){
    .cont-footer .link-footer {
        width: 50%;
        display: grid;
        margin: 20px auto;
        text-align: center;
        grid-template-columns: repeat(3, 1fr);
    }
}