.cont-footer {
    display: flex;
    flex-direction: column;
    background-color: #260B01;    
    color: #fff;
    width: 100%;
}

.cont-footer .link-footer {     
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: center;    
    color: #fff;
}
.cont-footer .link-footer a {
    padding: 10px;
}

.cont-footer .footer__copy {   
    display: flex;
    padding: 10px;
    justify-content: center;
    color: #fff;
}

.cont-footer .footer__copy span {
    color: #fff;
    font-size: 20px;
}


