* {    
    font-size: 20px;    
    font-family: 'Poppins', sans-serif; 
    margin: 0
    
}
.letraTitulo {
    color: #260B01;
    font-size: 35px;
    font-family: 'Poppins', sans-serif; 

}
/* ------------------- */
/* Tamaños de pantalla más grandes, como tabletas y pantallas de escritorio pequeñas */
@media screen and (max-width:1040px){
    .texto { 
        font-size: 18px;
        text-align: justify;
    }

    .letraTitulo{
        font-size: 30px;
    }
}

/* Tamaños de pantalla medianos, para dispositivos más pequeños y tablets en modo horizontal */
@media screen and (max-width: 768px){

    .texto { 
        font-size: 15px;
        text-align: justify;
    }

    .letraTitulo{
        font-size: 23px;
    }
}
@media screen and (max-width:480px){

    .texto { 
        font-size: 10px;
        text-align: center;
    }
    .letraTitulo{
        font-size: 16px;
    }
}
